# Ignore Visual Studio files and folders
.vs/
*.user
*.suo

# Ignore build and output folders
bin/
obj/
out/

# Ignore Python virtual environment
venv/
.env

# Node.js dependencies
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor-specific files
.idea/
*.iml

# Ignore coverage files
coverage/
*.coverage
*.cover
*.lcov

# Ignore configuration files
*.config
*.lock.json
